#leadership > .ct-section-inner-wrap {max-width: 100%;}
#section-864-242 > .ct-section-inner-wrap {max-width: 100%;}
#section-1001-242 > .ct-section-inner-wrap {max-width: 100%;}
#div_block-150-6 {padding-left: 4em;padding-top: 4em;padding-right: 4em;padding-bottom: 4em;}
#div_block-1000-242 {width: 100%;}
#div_block-973-242 {margin-bottom: 2em;}
#div_block-971-242 {width: 120%;flex-direction: row;display: flex;align-items: stretch;}
#div_block-757-242 {width: 50%;margin-right: 1.5em;}
#div_block-767-242 {width: 50%;margin-top: 25%;}
#sbu-bod {padding-top: 4em;padding-left: 4em;padding-right: 4em;padding-bottom: 4em;}
#div_block-938-242 {justify-items: stretch;align-items: stretch;grid-template-columns: repeat(4,minmax(20%,25%));grid-column-gap: 30px;grid-row-gap: 30px;display: grid;text-align: left;width: 100%;}
#div_block-974-242 {width: 100%;}
#jgs-corporate-center {padding-top: 4em;padding-left: 4em;padding-right: 4em;padding-bottom: 4em;}
#div_block-996-242 {width: 100%;}
#div_block-994-242 {width: 100%;}
#sbu-heads {padding-left: 4em;padding-top: 4em;padding-right: 4em;padding-bottom: 4em;}
#div_block-927-242 {justify-items: stretch;align-items: stretch;grid-template-columns: repeat(2,minmax(auto,50%));grid-column-gap: 2em;grid-row-gap: 1.5em;display: grid;text-align: left;width: 100%;}
#div_block-815-242 {width: 100%;padding-bottom: 1px;padding-top: 1px;padding-left: 1px;padding-right: 1px;}
#div_block-791-242 {width: 50%;padding-bottom: 1px;padding-top: 1px;padding-left: 1px;padding-right: 1px;}
#div_block-792-242 {width: 50%;padding-bottom: 12px;padding-top: 12px;padding-left: 12px;padding-right: 12px;}
#div_block-823-242 {width: 100%;padding-bottom: 1px;padding-top: 1px;padding-left: 1px;padding-right: 1px;}
#div_block-825-242 {width: 50%;padding-bottom: 1px;padding-top: 1px;padding-left: 1px;padding-right: 1px;}
#div_block-827-242 {width: 50%;padding-bottom: 12px;padding-top: 12px;padding-left: 12px;padding-right: 12px;}
#div_block-831-242 {width: 100%;padding-bottom: 1px;padding-top: 1px;padding-left: 1px;padding-right: 1px;}
#div_block-833-242 {width: 50%;padding-bottom: 1px;padding-top: 1px;padding-left: 1px;padding-right: 1px;}
#div_block-835-242 {width: 50%;padding-bottom: 12px;padding-top: 12px;padding-left: 12px;padding-right: 12px;}
#div_block-838-242 {width: 100%;padding-bottom: 1px;padding-top: 1px;padding-left: 1px;padding-right: 1px;}
#div_block-840-242 {width: 50%;padding-bottom: 1px;padding-top: 1px;padding-left: 1px;padding-right: 1px;}
#div_block-842-242 {width: 50%;padding-bottom: 12px;padding-top: 12px;padding-left: 12px;padding-right: 12px;}
#div_block-846-242 {width: 100%;padding-bottom: 1px;padding-top: 1px;padding-left: 1px;padding-right: 1px;}
#div_block-848-242 {width: 50%;padding-bottom: 1px;padding-top: 1px;padding-left: 1px;padding-right: 1px;}
#div_block-850-242 {width: 50%;padding-bottom: 12px;padding-top: 12px;padding-left: 12px;padding-right: 12px;}
#div_block-853-242 {width: 100%;padding-bottom: 1px;padding-top: 1px;padding-left: 1px;padding-right: 1px;}
#div_block-855-242 {width: 50%;padding-bottom: 1px;padding-top: 1px;padding-left: 1px;padding-right: 1px;}
#div_block-857-242 {width: 50%;padding-bottom: 12px;padding-top: 12px;padding-left: 12px;padding-right: 12px;}
#div_block-1003-242 {width: 50%;align-items: flex-start;text-align: left;justify-content: center;}
#div_block-1005-242 {width: 50%;align-items: flex-end;text-align: right;justify-content: center;}
@media (max-width:991px) {#div_block-971-242 {width: 100%;}}
@media (max-width:991px) {#div_block-767-242 {margin-top: 0px;}}
@media (max-width:991px) {#div_block-938-242 {justify-items: stretch;align-items: stretch;grid-template-columns: repeat(2,minmax(45%,50%));grid-column-gap: 30px;grid-row-gap: 30px;grid-auto-rows: minmax(min-content,1fr);display: grid;}}
@media (max-width:767px) {#div_block-927-242 {align-items: stretch;grid-template-columns: repeat(1,minmax(200px,1fr));grid-column-gap: 20px;grid-row-gap: 20px;display: grid;}}
@media (max-width:479px) {#div_block-938-242 {align-items: stretch;grid-template-columns: repeat(2,minmax(45%,50%));grid-column-gap: 10px;grid-row-gap: 10px;display: grid;}}
#new_columns-1002-242 {background-color: #e6e6e6;padding-bottom: 1em;padding-top: 1em;padding-left: 1em;padding-right: 1em;}
#headline-153-6 {font-weight: 600;margin-bottom: 5px;}
#headline-762-242 {color: #0090da;font-size: .8em;}
#headline-770-242 {font-size: .8em;color: #0090da;}
#headline-718-242 {font-size: .8em;}
#headline-723-242 {font-size: .8em;}
#headline-727-242 {font-size: .8em;}
#headline-731-242 {font-size: .8em;}
#headline-880-242 {font-size: .8em;}
#headline-884-242 {font-size: .8em;}
#headline-888-242 {font-size: .8em;}
#headline-892-242 {font-size: .8em;}
#link_button-1004-242 {padding: 16px 25.6px;}
#link_button-1004-242 {font-size: 18px;url-encoded: true;}
#link_button-1004-242:hover {background-color: #0090da;border: 1px solid #0090da;color: #fcbf33;padding: 16px 25.6px;}
#link_button-1006-242 {padding: 16px 25.6px;}
#link_button-1006-242 {font-size: 18px;url-encoded: true;}
#link_button-1006-242:hover {background-color: #0090da;border: 1px solid #0090da;padding: 16px 25.6px;}
#image-758-242 {width: 100%;margin-bottom: 5px;}
#image-900-242 {width: 100%;margin-bottom: 5px;}
#code_block-782-242 {width: 100%;}