#section-1226-13 > .ct-section-inner-wrap {max-width: 100%;}
#div_block-1227-13 {background-image: linear-gradient(90deg,#fff 20%,#e6e6e6 100px);padding-bottom: 10em;}
#div_block-1228-13 {width: 80%;height: 70%;justify-content: center;align-items: flex-start;text-align: left;padding-left: 20%;padding-top: 10em;padding-bottom: 10em;padding-right: 4em;}
#div_block-1231-13 {margin-top: 10px;width: 90%;height: 2px;background-color: #fff;}