#div_block-1324-173 {justify-items: stretch;align-items: stretch;grid-template-columns: repeat(2,minmax(auto,50%));grid-column-gap: 20px;grid-row-gap: 20px;display: grid;text-align: left;width: 100%;}
#div_block-1325-173 {align-items: center;text-align: center;padding-top: 0em;padding-left: 2em;padding-right: 2em;padding-bottom: 0em;}
#div_block-1326-173 {padding-top: 100%;width: 100%;margin-bottom: 1em;}
#div_block-1334-173 {align-items: center;text-align: center;padding-top: 0em;padding-left: 2em;padding-right: 2em;padding-bottom: 0em;}
#div_block-1335-173 {padding-top: 100%;width: 100%;margin-bottom: 1em;}
#div_block-1338-173 {align-items: center;text-align: center;padding-top: 0em;padding-left: 2em;padding-right: 2em;padding-bottom: 0em;}
#div_block-1339-173 {padding-top: 100%;width: 100%;margin-bottom: 1em;}
#div_block-1342-173 {align-items: center;text-align: center;padding-top: 0em;padding-left: 2em;padding-right: 2em;padding-bottom: 0em;}
#div_block-1343-173 {padding-top: 100%;width: 100%;margin-bottom: 1em;}