#section-177-6 > .ct-section-inner-wrap {max-width: 100%;display: grid;align-items: center;align-items: center;justify-items: center;grid-template-columns: repeat(1,minmax(200px,1fr));grid-column-gap: 20px;grid-row-gap: 20px;}
#section-177-6 {text-align: center;}
#div_block-179-6 {width: 32%;background-color: #1b3244;}
#div_block-180-6 {width: 68%;align-items: flex-start;text-align: left;justify-content: center;background-color: #e6e6e6;display: flex;padding-left: 10%;flex-direction: column;}
@media (max-width:991px) {#new_columns-178-6> .ct-div-block {width: 100% !important;}}
#new_columns-178-6 {min-height: 90vh;}
#headline-170-6 {font-weight: 600;color: #277ecc;}
#headline-184-6 {font-family: "abril-display";font-weight: 900;}
#headline-186-6 {margin-left: 24px;font-weight: 500;font-family: "abril-display";}
#headline-194-6 {font-family: "abril-display";font-weight: 900;}
#headline-195-6 {margin-left: 24px;font-weight: 500;font-family: "abril-display";}
#headline-217-6 {margin-left: 24px;font-weight: 500;font-family: "abril-display";}
#headline-201-6 {font-family: "abril-display";font-weight: 900;}
#headline-226-6 {font-family: "abril-display";font-weight: 900;}
#headline-230-6 {font-family: "abril-display";font-weight: 900;}
#headline-234-6 {font-family: "abril-display";font-weight: 900;}
#headline-238-6 {font-family: "abril-display";font-weight: 900;}
#headline-243-6 {font-family: "abril-display";font-weight: 900;}
#headline-245-6 {margin-left: 24px;font-weight: 500;font-family: "abril-display";}
#headline-247-6 {margin-left: 24px;font-weight: 500;font-family: "abril-display";}
#headline-251-6 {margin-left: 24px;font-weight: 500;font-family: "abril-display";}
#headline-257-6 {font-family: "abril-display";font-weight: 900;}
#headline-259-6 {margin-left: 24px;font-weight: 500;font-family: "abril-display";}
#headline-261-6 {margin-left: 24px;font-weight: 500;font-family: "abril-display";}
#headline-263-6 {margin-left: 24px;font-weight: 500;font-family: "abril-display";}
#headline-270-6 {font-family: "abril-display";font-weight: 900;}
#headline-275-6 {font-family: "abril-display";font-weight: 900;}
#link-212-6 {color: #000;url-encoded: true;}
#link-212-6:hover {color: #0067bd;}
#link-214-6 {url-encoded: true;}
#link-215-6 {url-encoded: true;}
#link-222-6 {url-encoded: true;}
#link-216-6 {url-encoded: true;}
#link-223-6 {url-encoded: true;}
#link-225-6 {url-encoded: true;}
#link-229-6 {url-encoded: true;}
#link-233-6 {url-encoded: true;}
#link-237-6 {url-encoded: true;}
#link-242-6 {url-encoded: true;}
#link-244-6 {url-encoded: true;}
#link-246-6 {url-encoded: true;}
#link-250-6 {url-encoded: true;}
#link-256-6 {url-encoded: true;}
#link-258-6 {url-encoded: true;}
#link-260-6 {url-encoded: true;}
#link-262-6 {url-encoded: true;}
#link-269-6 {url-encoded: true;}
#link-274-6 {url-encoded: true;}