#div_block-746-58 {flex-direction: column;display: flex;text-align: left;width: 100%;border-top-width: 2px;border-right-width: 2px;border-bottom-width: 2px;border-left-width: 2px;border-top-color: #1b3244;border-right-color: #1b3244;border-bottom-color: #1b3244;border-left-color: #1b3244;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;}
#div_block-760-58 {width: 35%;}
#div_block-763-58 {width: 65%;}
#div_block-770-58 {width: 35%;}
#div_block-772-58 {width: 65%;}
#div_block-780-58 {width: 35%;}
#div_block-782-58 {width: 65%;}
#div_block-785-58 {width: 35%;}
#div_block-787-58 {width: 65%;}
#text_block-774-58 {text-align: left;}
#text_block-781-58 {text-align: left;}
#text_block-786-58 {text-align: left;}