#section-9-12 > .ct-section-inner-wrap {max-width: 100%;}
#section-208-12 > .ct-section-inner-wrap {max-width: 100%;}
#geographic-presence > .ct-section-inner-wrap {max-width: 100%;}
#section-673-12 > .ct-section-inner-wrap {max-width: 100%;}
#corporate-structure {flex-grow: 1;padding-top: 4em;padding-left: 4em;padding-right: 4em;padding-bottom: 4em;}
#div_block-137-12 {padding-bottom: 3em;padding-top: 3em;padding-left: 3em;padding-right: 3em;}
#div_block-140-12 {width: 50%;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;padding-top: 0px;}
#div_block-141-12 {width: 100%;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;padding-left: 0px;}
#div_block-672-12 {width: 100%;padding-left: 4em;padding-top: 4em;padding-right: 4em;padding-bottom: 4em;}
#div_block-668-12 {display: flex;width: 100%;flex-direction: column;text-align: left;}
#div_block-254-12 {margin-top: 0px;}
#div_block-681-12 {width: 50%;justify-content: center;flex-direction: column;display: flex;text-align: left;padding-bottom: 5%;padding-top: 5%;padding-left: 5%;padding-right: 5%;}
#div_block-166-12 {width: 50%;text-align: left;margin-top: auto;}
#div_block-286-12 {align-items: stretch;grid-template-columns: repeat(1,minmax(200px,1fr));grid-column-gap: 10px;grid-row-gap: 10px;width: 25%;padding-bottom: 8px;padding-right: 8px;padding-left: 8px;padding-top: 8px;display: grid;}
#div_block-309-12 {width: 25%;text-align: left;padding-bottom: 8px;padding-top: 8px;padding-left: 8px;padding-right: 8px;}
#div_block-267-12 {justify-items: stretch;align-items: stretch;grid-template-columns: repeat(1,minmax(200px,1fr));grid-column-gap: 10px;grid-row-gap: 10px;display: grid;text-align: left;padding-bottom: 8px;padding-left: 8px;padding-top: 8px;padding-right: 8px;}
#div_block-296-12 {justify-items: stretch;align-items: stretch;grid-template-columns: repeat(1,minmax(200px,1fr));grid-column-gap: 10px;grid-row-gap: 10px;width: 25%;display: grid;text-align: left;padding-bottom: 8px;padding-top: 8px;padding-left: 8px;padding-right: 8px;}
#div_block-697-12 {width: 50%;padding-bottom: 5%;padding-top: 3%;padding-left: 5%;padding-right: 5%;}
#div_block-637-12 {justify-items: center;align-items: center;grid-template-columns: repeat(2,minmax(auto,1fr));grid-column-gap: 10px;grid-row-gap: 20px;display: grid;width: 50%;text-align: left;margin-top: auto;}
#div_block-362-12 {justify-items: stretch;align-items: stretch;grid-template-columns: repeat(1,minmax(200px,1fr));grid-column-gap: 10px;grid-row-gap: 10px;width: 25%;padding-bottom: 8px;padding-right: 8px;padding-left: 8px;padding-top: 8px;display: grid;text-align: left;}
#div_block-372-12 {justify-items: stretch;align-items: stretch;grid-template-columns: repeat(1,minmax(200px,1fr));grid-column-gap: 10px;grid-row-gap: 10px;width: 25%;display: grid;text-align: left;padding-bottom: 8px;padding-top: 8px;padding-left: 8px;padding-right: 8px;}
#div_block-382-12 {justify-items: stretch;align-items: stretch;grid-template-columns: repeat(1,minmax(200px,1fr));grid-column-gap: 10px;grid-row-gap: 10px;display: grid;text-align: left;padding-bottom: 8px;padding-left: 8px;padding-top: 8px;padding-right: 8px;width: 25%;}
#div_block-392-12 {justify-items: stretch;align-items: stretch;grid-template-columns: repeat(1,minmax(200px,1fr));grid-column-gap: 10px;grid-row-gap: 10px;width: 25%;text-align: left;padding-bottom: 8px;padding-top: 8px;padding-left: 8px;padding-right: 8px;display: grid;}
#div_block-705-12 {width: 45%;padding-top: 5%;padding-left: 5%;padding-right: 5%;padding-bottom: 5%;}
#div_block-706-12 {width: 55%;}
#div_block-320-12 {justify-items: stretch;align-items: stretch;grid-template-columns: repeat(1,minmax(200px,1fr));grid-column-gap: 10px;grid-row-gap: 10px;width: 50%;display: grid;text-align: left;padding-bottom: 8px;padding-top: 8px;padding-left: 8px;padding-right: 8px;}
#div_block-321-12 {padding-top: 20px;padding-bottom: 20px;padding-left: 10px;padding-right: 10px;background-color: #fff;}
#div_block-325-12 {align-items: flex-start;text-align: left;}
#div_block-774-12 {width: 50%;}
#div_block-764-12 {width: 50%;padding-top: 5%;padding-left: 5%;padding-right: 5%;padding-bottom: 5%;}
#div_block-657-12 {justify-items: center;align-items: center;grid-template-columns: repeat(2,minmax(auto,1fr));grid-column-gap: 10px;grid-row-gap: 20px;display: grid;width: 50%;text-align: left;margin-top: auto;}
#div_block-404-12 {width: 25%;text-align: left;padding-bottom: 8px;padding-top: 8px;padding-left: 8px;padding-right: 8px;}
#div_block-414-12 {justify-items: stretch;align-items: stretch;grid-template-columns: repeat(1,minmax(200px,1fr));grid-column-gap: 10px;grid-row-gap: 10px;width: 25%;display: grid;text-align: left;padding-bottom: 8px;padding-top: 8px;padding-left: 8px;padding-right: 8px;}
#div_block-424-12 {justify-items: stretch;align-items: stretch;grid-template-columns: repeat(1,minmax(200px,1fr));grid-column-gap: 10px;grid-row-gap: 10px;width: 25%;display: grid;text-align: left;padding-bottom: 8px;padding-top: 8px;padding-left: 8px;padding-right: 8px;}
#div_block-434-12 {justify-items: stretch;align-items: stretch;grid-template-columns: repeat(1,minmax(200px,1fr));grid-column-gap: 10px;grid-row-gap: 10px;width: 25%;display: grid;text-align: left;padding-bottom: 8px;padding-top: 8px;padding-left: 8px;padding-right: 8px;}
#div_block-675-12 {width: 50%;align-items: flex-start;text-align: left;justify-content: center;}
#div_block-677-12 {width: 50%;align-items: flex-end;text-align: right;justify-content: center;}
@media (max-width:991px) {#div_block-668-12 {align-items: stretch;grid-template-columns: repeat(2,minmax(200px,1fr));grid-column-gap: 0px;grid-row-gap: 0px;display: grid;}}
@media (max-width:991px) {#div_block-166-12 {display: none;}}
@media (max-width:991px) {#div_block-637-12 {display: none;}}
@media (max-width:991px) {#div_block-774-12 {display: none;}}
@media (max-width:991px) {#div_block-657-12 {display: none;}}
@media (max-width:767px) {#div_block-672-12 {padding-left: 2em;padding-right: 2em;padding-top: 2em;padding-bottom: 2em;}}
@media (max-width:767px) {#div_block-668-12 {display: flex;flex-direction: column;}}
@media (max-width:767px) {#div_block-256-12 {display: flex;}}
@media (max-width:991px) {#new_columns-680-12> .ct-div-block {width: 100% !important;}}
#new_columns-680-12 {margin-bottom: 15px;}
@media (max-width:991px) {#new_columns-716-12> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-716-12> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-696-12> .ct-div-block {width: 100% !important;}}
#new_columns-696-12 {margin-bottom: 15px;}
@media (max-width:991px) {#new_columns-735-12> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-735-12> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-704-12> .ct-div-block {width: 100% !important;}}
#new_columns-704-12 {margin-bottom: 15px;}
@media (max-width:991px) {#new_columns-772-12> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-772-12> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-763-12> .ct-div-block {width: 100% !important;}}
#new_columns-763-12 {margin-bottom: 15px;}
@media (max-width:991px) {#new_columns-771-12> .ct-div-block {width: 100% !important;}}
@media (max-width:991px) {#new_columns-771-12> .ct-div-block {width: 100% !important;}}
#new_columns-674-12 {background-color: #e6e6e6;padding-bottom: 1em;padding-top: 1em;padding-left: 1em;padding-right: 1em;}
#headline-12-12 {color: #ffce00;}
#headline-258-12 {color: #ffce00;}
#headline-290-12 {color: #277ecc;}
#headline-313-12 {color: #277ecc;}
#headline-284-12 {color: #277ecc;}
#headline-300-12 {color: #277ecc;}
#headline-262-12 {color: #0067bd;}
#headline-366-12 {color: #277ecc;}
#headline-376-12 {color: #277ecc;}
#headline-386-12 {color: #277ecc;}
#headline-396-12 {color: #277ecc;}
#headline-259-12 {color: #ffce00;}
#headline-324-12 {color: #277ecc;}
#headline-263-12 {color: #0067bd;}
#headline-408-12 {color: #277ecc;}
#headline-418-12 {color: #277ecc;display: none;}
#headline-428-12 {color: #277ecc;display: none;}
#headline-438-12 {color: #277ecc;}
#text_block-143-12 {width: 70%;text-align: left;}
#text_block-206-12 {font-size: .8em;}
@media (max-width:767px) {#text_block-143-12 {width: 100%;}}
#link_button-676-12 {padding: 16px 25.6px;}
#link_button-676-12 {font-size: 18px;url-encoded: true;}
#link_button-676-12:hover {background-color: #0090da;border: 1px solid #0090da;color: #fcbf33;padding: 16px 25.6px;}
#link_button-678-12 {padding: 16px 25.6px;}
#link_button-678-12 {font-size: 18px;url-encoded: true;}
#link_button-678-12:hover {background-color: #0090da;border: 1px solid #0090da;padding: 16px 25.6px;}
#image-315-12 {width: 75%;}
#image-302-12 {width: 75%;}
#image-378-12 {width: 50%;}
#image-388-12 {width: 100%;}
#image-398-12 {width: 100%;}
#image-326-12 {width: 75%;}
#image-410-12 {width: 70%;}
#image-420-12 {width: 60%;}
#image-430-12 {width: 90%;}
#image-440-12 {width: 50%;}
#code_block-679-12 {width: 100%;padding-bottom: 0px;}