#div_block-612-11 {background-color: #e6e6e6;width: 25%;padding-left: 2em;padding-top: 4em;padding-right: 2em;padding-bottom: 2em;}
@media (max-width:991px) {#div_block-612-11 {width: 100%;}}
#code_block-520-11 {width: 80%;margin-bottom: 30px;margin-left: auto;margin-right: auto;}
#code_block-687-11 {width: 80%;margin-left: auto;margin-right: auto;margin-bottom: 1em;}
#code_block-667-11 {width: 100%;}